@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


.wrapper {
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #116CFF;
}

.title {
    color: white;
    margin: 60px 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.clock {
    margin-top: 15px;
    margin-right: 10px;
    height: 24px;
    width: 24px;
    background: url(timer.png) no-repeat;
}

.tag {
    margin-top: 15px;
    margin-right: 10px;
    height: 19px;
    width: 19px;
    background: url(tag.png) no-repeat;
}

.people {
    margin-top: 15px;
    margin-right: 10px;
    height: 24px;
    width: 24px;
    background: url(people.png) no-repeat;
}

.pc {
    margin-top: 19px;
    margin-left: 10px;
    height: 24px;
    width: 24px;
    background: url(pc.png) no-repeat;
}

.container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.466);
    margin-left: 100px;
    margin-right: 100px;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.466);
    margin-left: 478px;
    margin-right: 325px;
    height: 74px;
    width: 363px;
}

.column1 {
    flex: 2;
    flex-direction: column;
}

.column2 {
    flex: 3;
    flex-direction: column;
}

.container-col2 {
    display: flex;
    width: 360px;
    height: 74px;
    justify-content: space-evenly;

}

.container-col3 {
    display: flex;
    width: 363px;
    height: 37px;
    justify-content: space-evenly;
    margin-left: 2%;
    margin-top: -25px;
}

.column3 {
    flex: 1;
    flex-direction: column;

}

.text1 {
    display: flex;
    /*flex : 0 0 363px;*/
}

.text1 p {
    color: #00235C;
    font-family: Inter;
    font-style: normal, bold;
    font-weight: 700;
    margin-left: 24px;
}

.text2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.text2-p {
    color: #00235C;
    font-family: Inter;
    font-style: normal, regular;
    font-weight: 400;
}


.text3 {
    color: #00235C;
    font-family: Inter;
    font-style: normal, regular;
    font-weight: 400;
}

.up-left {
    display: flex;
    margin-left: 32px;

}

.up-right {
    display: flex;
    margin-left: 63PX;
}

.h2 {
    display: flex;
    margin-left: 15px;
}

.stars {
    width: 100px;
    height: 20px;
    display: flex;
    margin-left: 24px;
    margin-top: 5px;
}

.red-star {
    height: 20px;
    width: 80px;
    background: url(star2.png);
    background-repeat: space;
    align-self: flex-start;
}

.white-star {
    width: 20px;
    height: 20px;
    background: url(star1.png);
    align-self: flex-end;
}

.icons {
    display: flex;
}

.text3 {
    width: 135px;
    height: 50px;
    background: #116CFF;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 24px;
    justify-content: center;
    display: flex;
}

.text3 p {
    color: white;
    font-family: Inter;
    font-weight: 600;
}

.list {
    display: flex;
    background-color: white;
    height: 259px;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;

    /* justify-content: space-between; */
}

.item1 {
    display: flex;
    height: 65px;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    border-bottom: solid 1px #116CFF;
    border-collapse: collapse;
    text-align: center;
    letter-spacing: 0.35px ;
}

.item4{
    border-bottom: solid 0px
}

.text-item-list{
    margin-left: 24px;
    margin-right: 24px;
    color: #116CFF;
    font-family: Inter;
    font-style: normal, regular;
    font-weight: 700;
}

.star-item-list {
    height: 20px;
    width: 100px;
    background: url(star2.png);
    background-repeat: space;
    /* align-self: flex-start; */
}

.star-item-list-4{
    height: 20px;
    width: 80px;
    background: url(star2.png);
    background-repeat: space;
    /* align-self: flex-start; */
    /* margin-right: 185px;
    margin-top: 15px ; */
    justify-items: center;
    margin-right: 20px;
}

.price-item-list{
    color: #00235C;
    font-family: Inter;
    font-style: normal, bold;
    font-weight: 700;
    margin-right: 24px;
    justify-content: end;
    
}

.price-item-list-3{
    color: #FF463A;
    font-family: Inter;
    font-style: normal, bold;
    font-weight: 700;
    margin-right: 24px;
}

button {
    margin-left: 16px;
    width: 47px;
    height: 25px;
    background-color: #f3c2be;
    border: 1px solid #f3c2be;
    border-radius: 5px;
    color: #FF463A;
    font-family: Inter;
    font-style: normal, bold;
    font-weight: 400;
    flex: 1;
}

button:hover,
button:active{
    background-color: #116CFF;
    border-color: #00235C;
    color: white;
}

.free{
    justify-content: space-between;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.col1{
    display: flex;
   flex:33%;
   align-items: center;
   justify-content: flex-start;
}

.col2{
    display: flex;
    flex:33%;
    align-items: center;
   justify-content: center;

}

.col3{
    display: flex;
    flex:33%;
    align-items: center;
   justify-content: flex-end;
}